@using System.Collections.Specialized;
@using System.Text;
@{
    var httpWebRequest = (HttpWebRequest)WebRequest.Create("https://netduino.firebaseio.com/morsecode/.json");
    httpWebRequest.ContentType = "application/x-www-form-urlencoded";
    httpWebRequest.Method = "POST";

    using (var streamWriter = new StreamWriter(httpWebRequest.GetRequestStream()))
    {

    string json = "{ \"morseMessage\": \"" + Request["morseMessage"] + "\", \"textMessage\": \"" + Request["textMessage"] + "\" }";

    streamWriter.Write(json);
    streamWriter.Flush();
    streamWriter.Close();
    }
    var httpResponse = (HttpWebResponse)httpWebRequest.GetResponse();
    using (var streamReader = new StreamReader(httpResponse.GetResponseStream()))
    {
        var result = streamReader.ReadToEnd();
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Netduino</title>
    </head>
    <body>
        Json = @json
    </body>
</html>