@{
    string input;
    using(var reader = new StreamReader(Request.InputStream)){
        input = reader.ReadToEnd();
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div>
            <h3>Input Stream</h3>
            @Server.UrlDecode(input)
        </div>
        <div>
            @if(Request.Form.Count > 0){
                <h3>Request Form</h3>
                foreach(string item in Request.Form){
                    <div>@item  :  @Request[item]</div>
            }
        }
        <h3>Params</h3>
        @Request.Params
        </div>
    </body>
</html>
